
@mixin flex-column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flex-arg ($direction) {
    display: flex;
    flex-direction: $direction;
  }
  